[2019-07-23 21:44] werdnus opened #1 "Other keyboard layouts?"
Hey, first off, thanks for making _keyWriter_! This was the thing that finally made me decide to poke into the back-end of my reMarkable and get it to do more than the manufacturer intended — I've been wanting a way to write without staring at a screen for years now!

My issue is maybe a little more like a feature request, I guess: I type on a non-QWERTY keyboard layout (Dvorak), and was wondering

[2019-08-09 01:28] burgarth opened #2 "QR"
What a fantastic app! To integrate it into my workflow it would be nice to get the file off the remarkable quickly without having to connect to WiFi. How about including https://github.com/fukuchi/libqrencode to show a QR code of the source in the markup preview? I could scan this quickly with my phone and share easily. For short texts that would work well!

[2019-08-21 17:05] jwaltonr opened #3 "Editor mode - variable text size"
I love this program and have been using it for several weeks now! I'm wondering if there's a way currently or, if not, to add a way to change the text size while in editor mode? I've often found myself wanting to see more of the text sometimes while writing.
Thank you!

[2019-09-04 12:24] johnverbiest commented on #1
I use the nl-be type keyboard and being able to change the keyboard layout would be awesome.

[2019-09-09 13:10] andersvold opened #4 "Using Bluetooth keyboard"
Is there a way of connecting a bluetooth keyboard.
With a bluetooth dongle connected to an OTG cable.
I already have a portable Logitech bluetooth keyboard for my iPad.

[2019-09-09 13:12] andersvold commented on #1
I use Norwegian keyboard layout with æøå ÆØÅ keys

[2019-12-09 02:08] haizhouus opened #5 "prebuilt installation"
The readme on how to install is not very clear. There is no "edit" under prebuilt, only a binary file "keywriter." When I scp it to /home/root/edit, running keywriter gives a core dump, after ssh into remarkable. I only tried to launch via ssh, just want to check whether it works. BTW, I am on 2.0.1.1 if that is relevant.

[2020-01-14 21:14] tetsuosoft commented on #5
did you try renaming all /edit directories to /keywriter instead?

I cant test right now as with reMarkable firmware 2.0,2.0 my SSH isnt working :(

[2020-04-10 19:34] strider72 commented on #1
@werdnus As Mac OS-X is built on GNU, you might be able to set up that Linux stuff on your Mac. (?)

[2020-04-23 18:38] Gamithra commented on #5
I've got the same issue - segmentation fault (core dumped) when the keywriter file (fetched from /prebuilt) is run. Any advice?

[2020-04-25 20:31] dps commented on #4
reMarkable doesn't have built in bluetooth support. I personally don't have a bluetooth dongle to try this, but will attempt to get one.

[2020-04-25 20:31] dps commented on #5
I'm working on this now - just upgraded my reMarkable to the latest software and will see if I can get it going again.

[2020-04-25 21:53] #5 closed

[2020-04-29 21:29] dpowyslybbe opened #7 "Instructions point to the 'edit' binary"
Hi, This apps looks superb (especially since I used to have a Psion Revo, and looked into the Freewriter!) and I'm hoping to try and install it on the weekend.

I'm very very new to this kind of technical thing, but am I right in thinking that you've changed the name of the binary from 'edit' to 'keywriter'? If so, does that mean each time on the installation instructions do I need to replace the

[2020-06-16 17:34] josephname opened #8 "Usage instructions?"
I've installed it, I like it.  Now I'd like to know about using it.  the escape key seems useful, what other keys & such will help me get editing files?

[2020-06-16 19:41] josephname opened #9 "shell access?"
could there be a way to exit to a shell - that would be quite handy.

[2020-07-16 01:47] willemOH opened #10 "Portfolio Orientation"
Hi, great app! Could include a setting to change to portfolio orientation? Thanks. Also, for us linux newbs out there, including the instruction to chmod +x the binary file would have saved me a headache when installing.

[2020-07-16 02:24] willemOH commented on #10
Actually, looking at the source code, I could probably manage this myself. However, when trying to compile from Qt creator I get some errors:

`:-1: error: No rule to make target 'sundown/src/autolink.c', needed by 'autolink.o'.  Stop.`

and

`/home/willemhilliard/remarkable-keywriter-master/edit_utils.h:6: error: markdown.h: No such file or directory
 #include "markdown.h"
          ^~~~~~~~~~~~`

[2020-09-28 15:23] matteodelabre opened #11 "No license"
Thanks for your app! Since it is currently not licensed for redistribution, we cannot package it in the [Toltec repository](https://github.com/toltec-dev/toltec). Do you plan on adding a free software license to your project?

[2020-11-25 16:47] Eeems commented on #11
It looks like https://github.com/dps/remarkable-keywriter/pull/12 solves this

[2020-12-02 01:54] briankaemingk opened #13 "Used daily, but no longer working for unknown reasons"
Hi! I have been using this lovely app daily, but it just stopped working on my rM1, and I'm not sure why. I can start the app, and the scratch.md doc appears, but I can no longer control it with the keyboard. I plug the keyboard in the same way that I always have.

Things I have tried:
1. Reset to factory settings on my rm1 and re-installed the binary
2. Used a different keyboard and a different u

[2020-12-02 15:41] briankaemingk commented on #13
Update: It looks like I'm not getting a USB data connection with my rm1, so this could be hardware-related. I'll do some more troubleshooting and close this issue if I confirm. Thanks!

[2020-12-15 01:02] briankaemingk commented on #13
Closing as this is likely a hardware issue.

[2020-12-15 01:02] #13 closed

[2020-12-15 01:21] briankaemingk opened #14 "Support for reMarkable 2"
Any idea what it would take to support rm2? I have one, and I'd be happy to help with the development and testing, but I might need some tips to get started. Thanks!

[2020-12-15 16:32] briankaemingk commented on #14
Update: it looks like one can use an external keyboard by hooking up to the [pogo pin connectors](https://www.reddit.com/r/RemarkableTablet/comments/j9g1d5/rm2_with_an_external_keyboard_accessory_port_usage/), thanks to user ddvk I'll try to get the right connector, give this a try, and report back.

[2020-12-22 19:13] rjainms commented on #14
Just checking in to see if you tried it.  I followed the link to the Reddit thread which had some information, but not a link to the actual pogo accessory they used.  (I'm not very familiar with pogo connectors, there seem to be multiple types and if you happen to have a link to an online store where I can buy one and try it myself that would be great).  Thanks!

[2020-12-22 19:26] briankaemingk commented on #14
Sure, happy to help. I haven't tried it, but so far, I bought the following:
* [Micro USB breakout](https://www.amazon.com/gp/product/B07KS1RPMP/ref=ppx_yo_dt_b_asin_title_o01_s00?ie=UTF8&psc=1)
* [Here's what I bought for Pogo pins](https://www.digikey.com/en/products/detail/821-22-005-10-001101/ED8198-05-ND/1146577?utm_medium=email&utm_source=oce&utm_campaign=3480_OCE20RT&utm_content=productdeta

[2020-12-22 19:45] rjainms commented on #14
Thanks for the prompt response!  This seems like hardware work is involved here, i.e., you get the Micro USB breakout, and the Pogo pins, connect them somehow and then attach the assembly to the rM2 somehow.  I could be wrong, never tried anything like this before.  I was thinking there would be some kind of existing hardware dongle that would go from the USB to Pogo (although that still leaves th

[2020-12-22 19:57] briankaemingk commented on #14
Yeah, I'm new to all this stuff too. It looks like I can attach these parts together without soldering. I don't have my hands on them yet, but I tried to buy parts where the pins from the pogo adapter slide into the micro usb breakout. Then you can attach it all to a Micro USB OTG adapter [like this one](https://www.amazon.com/gp/product/B009Z6A0KA/ref=ppx_yo_dt_b_asin_title_o00_s00?ie=UTF8&psc=1)

[2020-12-22 20:38] rjainms commented on #14
OK, makes sense, looking forward to what you find!

[2020-12-25 14:11] briankaemingk commented on #14
Alright, so I got the parts, and they seem to fit fine, but I can't keep the connection with my hands, so I guess I'll have to solder the micro usb breakout to the pogo pin adapter. Never done that before, but I can pick up an iron for pretty cheap, so I'll give it a try and report back...

[2020-12-26 16:22] rjainms commented on #14
Cool, thanks!
And have you thought about how the assembly will stick to the device?  Are
the pins magnetized?

On Fri, Dec 25, 2020 at 6:12 AM briankaemingk <notifications@github.com>
wrote:

[2020-12-26 16:48] briankaemingk commented on #14
No they aren't magnetized.. Not sure, maybe some clips or rubber bands...

[2020-12-26 19:37] bennotkin commented on #14
After years of looking on I just joined this game. Are y'all working with the pogo pins because you've found the usb-c port can't connect to a keyboard, or because you have other intentions?

[2020-12-26 20:51] briankaemingk commented on #14
Correct. No source I've found has figured out how to get usb OTG connections work through the USB C port. More details here: https://remarkablewiki.com/tech/rm2_otg_pogo.

On Sat, Dec 26, 2020, 12:37 PM bennotkin <notifications@github.com> wrote:

[2020-12-27 02:19] rjainms commented on #14
Brian, for attaching the assembly to the device: it seems the edge near the
pogo dots on the device is magnetized.

On Sat, Dec 26, 2020 at 12:51 PM briankaemingk <notifications@github.com>
wrote:

[2021-01-05 23:04] isman7 commented on #14
Hi!

I'm also interested in hack this a little bit. As an electronic engineer I strongly recommend to solder everything, I've seen students spending hours debugging I2C communications because they only put through-hole connects attached and not soldered.

I've been looking for assembled versions of a pogo-to-usb adapter and neither found one. I'm now researching a for keyboards that had similar co

[2021-01-05 23:24] briankaemingk commented on #14
Sounds good! Please keep us updated. I'll post pictures as well when I get
my materials and try it.

On Tue, Jan 5, 2021, 3:04 PM Ismael Benito <notifications@github.com> wrote:

[2021-01-06 00:26] briankaemingk commented on #14
@isman7 do you happen to know which end the VBUS connection is on that keyboard? For the rM2, the VBUS connection is closest to the USB-C port. Would be somewhat unfortunate if one could connect the tablet, but it faced the wrong direction.

[2021-01-06 11:00] isman7 commented on #14
No, I had no idea, I went to bed just thinking about that. I'll check it
during the day.

El mié, 6 ene 2021 a las 1:26, briankaemingk (<notifications@github.com>)
escribió:

[2021-01-06 18:19] isman7 commented on #14
It's beeing really hard to find technical information of these Chinese tablets. However, some pics of the connectors could be seen here: https://www.notebookcheck.net/Chuwi-UBook-Pro-Tablet-Review-The-Microsoft-Surface-Pro-Clone.442700.0.html

For the purchases, I'm going for similar components (Delivering to Spain):

- https://www.amazon.es/gp/product/B00BS9MIS4/ref=ox_sc_act_title_1
- https://ww

[2021-01-06 19:06] briankaemingk commented on #14
Great!! Suppose it's a 50/50 chance for the keyboard.

Let us know when you get the parts and I'll do the same.

Best,
Brian

On Wed, Jan 6, 2021, 10:19 AM Ismael Benito <notifications@github.com>
wrote:

[2021-01-06 21:03] #11 closed

[2021-01-07 20:00] koenvervloesem commented on #14
@isman7 I have bought your third link, the pogo pins between the two magnets. But I've tried it and they don't align to the magnet in the reMarkable 2. So the pins don't stick because the magnet is attracted by the magnet further at the side of the reMarkable 2.

[2021-01-07 20:56] isman7 commented on #14
Ops. I've also bought some without magnets. They will in 20 days or so.

Thanks for the info!

El jue., 7 ene. 2021 21:00, Koen Vervloesem <notifications@github.com>
escribió:

[2021-01-07 21:01] briankaemingk commented on #14
Very curious to see which of these all work... I should be able to try my
hand at soldering the parts I ordered next week and will post an update.
Glad we have an Electrical Engineer on our side!

On Thu, Jan 7, 2021 at 12:56 PM Ismael Benito <notifications@github.com>
wrote:

[2021-01-10 16:22] isman7 commented on #14
Hey,

I have an unsuccessful attempt to connect a keyboard here. Some of the material arrived so inspired by [this](https://github.com/ddvk/remarkable2-recovery/issues/2#issuecomment-756469361) I mounted this:

<img src="https://user-images.githubusercontent.com/9478220/104128351-6e2b4b00-5367-11eb-9172-485db0ad4c39.png" height="200">
<img src="https://user-images.githubusercontent.com/9478220/104

[2021-01-10 18:46] briankaemingk commented on #14
Confirming that you used the

echo 2 > /sys/otgcontrol/control/otg1_controllermode

command in the same session? I think that resets after a restart...

On Sun, Jan 10, 2021, 09:22 Ismael Benito <notifications@github.com> wrote:

[2021-01-10 19:31] isman7 commented on #14
Yes:

[code]

I also tried to modify it with nano and nothing changes. I suppose some process is avoiding it to change. Maybe it was the latest firmware update...

[2021-01-10 19:48] isman7 commented on #14
Ok, so some logs from `dmesg`, I'm also reading a little bit the source of the driver.

[code]

[2021-01-10 20:28] isman7 commented on #14
Ok! It's fixed!! **You have to have the USB-C connected to a charger**. Now I have power, but I have to fix the connector.

![image](https://user-images.githubusercontent.com/9478220/104134568-b5770300-538a-11eb-8c03-13cd97f63aee.png)

[2021-01-10 20:59] isman7 commented on #14
So, I'm happy for today, I've checked that reproducing https://remarkablewiki.com/tech/rm2_otg_pogo this works, with the USB-C plugged, and returning to the default mode shuts down the power in the pogo pins. However, my first connector attempt is unstable. It seems I have generate some (miss) communication between the rm2 and the keyboard:

[code]

So, in 10 days more or less my pogo pins will ar

[2021-01-10 21:15] briankaemingk commented on #14
Great news, I'll try to reproduce your steps this week and report back as
well!

On Sun, Jan 10, 2021, 13:59 Ismael Benito <notifications@github.com> wrote:

[2021-01-11 20:42] rjainms commented on #14
Awesome!  Can you guys summarize the exact steps that need to be taken,
please!
Thanks
Ravi

On Sun, Jan 10, 2021 at 1:16 PM briankaemingk <notifications@github.com>
wrote:

[2021-01-11 23:40] briankaemingk commented on #14
Sure, I just got it working, here's what I did...

You need the following:
1. A micro USB breakout like [this one](https://www.amazon.com/gp/product/B07KS1RPMP/ref=ppx_yo_dt_b_asin_title_o01_s00?ie=UTF8&psc=1)
2. A pogo pin adapter like [this one](https://www.aliexpress.com/item/33055165638.html?spm=a2g0s.9042311.0.0.429b4c4dsQZ7jM), choose the male version
3. A USB OTG adapter like [this one](htt

[2021-01-11 23:40] #14 closed

[2021-01-12 00:28] rjainms commented on #14
Fantastic!  I think you should do a blog post or something about this.
Thanks
Ravi

On Mon, Jan 11, 2021 at 3:40 PM briankaemingk <notifications@github.com>
wrote:

[2021-01-25 02:03] bennotkin commented on #14
Is it conceivable to add our own magnets to the male pogo? I know the existing pins don’t line up right but, to those who’ve found the magnetic edge, could we make our own magnetic connection?

@rjainms

[2021-01-31 00:34] isman7 commented on #14
Yep, just trying that tonight.

![image](https://user-images.githubusercontent.com/9478220/106371356-c13f5f00-6363-11eb-9186-fb3b0bbfaa5b.png)
![image](https://user-images.githubusercontent.com/9478220/106371361-cac8c700-6363-11eb-9964-7e72b6d8ef10.png)
![image](https://user-images.githubusercontent.com/9478220/106371365-cf8d7b00-6363-11eb-99ec-afc09332f91f.png)

Using the female connector to act

[2021-01-31 13:22] briankaemingk commented on #14
Very cool--please keep us posted when you try connecting the keyboards. Thanks for sharing!

[2021-01-31 16:03] isman7 commented on #14
It works!

Now to launch remarkable-keywriter I have to explore a little bit more about launchers, etc. I don't want to break anything hehe

![rm2-keyboard](https://user-images.githubusercontent.com/9478220/106390405-9d722c80-63e8-11eb-9007-86e1df8c19b7.gif)

[2021-01-31 16:09] briankaemingk commented on #14
Wooohoooo!! For some reason, I can't load the video?--feel free to let me know if you have questions about getting the launcher working--it's a little more complicated with an rM2..

[2021-01-31 16:21] isman7 commented on #14
Yep, same. I think I fixed it now, it's a gif!

Thanks for the help, I will let you know if I have any doubts, I will try it during the week.

[2021-01-31 16:36] briankaemingk commented on #14
Looks great!!

1. Is your usb keyboard plugged in?! It doesn't look like it from the gif, but I assume it is...
2. I just bought your magnetized pogo pins. Can you send me a link to the breadboard/green circuit board that you're using? I'd like to be able to try that as well.

[2021-01-31 17:30] isman7 commented on #14
1. It's a Bluetooth one, is a Logitech K400, the dongle is plugged into the USB OTG, so really happy it worked with that keyboard.
2. Sure, I have them since quite years (https://es.aliexpress.com/item/765383366.html?spm=a2g0s.9042311.0.0.274263c0B3HuXs), I've used the 5cm x 7 cm layout. But I would recommend something more like: https://es.aliexpress.com/item/4000315545230.html?, to simplify sold

[2021-01-31 17:59] briankaemingk commented on #14
Great, thanks, I'll try this with a dongle and with the new board and reach
out with questions!

On Sun, Jan 31, 2021 at 10:30 AM Ismael Benito <notifications@github.com>
wrote:

[2021-02-03 18:17] briankaemingk commented on #14
I just tried with [this bluetooth keyboard and the provided dongle](https://www.amazon.com/gp/product/B073TSKFRX/ref=ppx_yo_dt_b_asin_title_o01_s00?ie=UTF8&psc=1) and it worked like a charm!!

@isman7 - I will get the magnetic pogo pins and a new board in the next few weeks and try it with those items.

[2021-02-16 13:11] tg-x commented on #14
I tried switching the USB-C port to host mode, as described on that page:

Connected a [crkbd](https://github.com/foostan/crkbd) with one of the Elite-C Pro Micro controllers connected to rM2, and the other one to a charger to power it.
On the rM2 the port is switched to host mode and a 1-port hub shows up, but the keyboard is not detected.

Any ideas what else could be tried to get host mode work

[2021-02-16 13:19] briankaemingk commented on #14
Hi, i don't have enough knowledge, but [this github user](https://github.com/ddvk) might. Or you could post to the [reddit community](https://www.reddit.com/r/RemarkableTablet/), someone will probably have an idea.

[2021-02-20 16:11] tg-x commented on #14
Also tried the USB-C port with a Y-cable with external power, then both the rM2 and keyboard has power but the keyboard is still not detected. Seems there's more to it than just switching the port role.

[2021-02-20 16:29] tg-x commented on #14
Update: USB-C OTG does work, but the wiki was wrong (fixed just now), port 0 has to be switched to host mode, not port 1.

Thus the following works with a USB OTG Y cable and external power:

`echo host > /sys/bus/platform/devices/ci_hdrc.0/role`

And to revert it to gadget mode:

`echo gagdet > /sys/bus/platform/devices/ci_hdrc.0/role`

[2021-02-20 21:42] tg-x commented on #14
[simple](https://rmkit.dev/apps/sas) UI to switch USB mode:
https://gist.github.com/tg-x/91c3af24311671544475b5b02c3877fb

[2021-02-26 23:02] briankaemingk commented on #14
@tg-x  thank you, I'll give this a try and may have questions for you, much appreciated!!

[2021-02-28 21:05] briankaemingk commented on #14
@tg-x  Have you tried it without power, per chance?

[2021-02-28 22:02] tg-x commented on #14
sure, but it does not work. the usb-c port does not provide power, not even after switching it to host mode, hence the requirement for external power.

[2021-02-28 23:39] briankaemingk commented on #14
Makes sense, thanks again. I'll try once I get my hands on a Y OTG cable.

On Sun, Feb 28, 2021 at 2:02 PM TG × ⊙ <notifications@github.com> wrote:

[2021-03-01 21:24] briankaemingk commented on #14
@tg-x I don't currently have a USB keyboard, but I do have a USB bluetooth dongle/keyboard combo. I just tried your command ` echo gadget > /sys/bus/platform/devices/ci_hdrc.0/role`, and it didn't work for me. Although it works when I connect it to the pogo pins as described above. Any idea why?

@isman7 Would you be able to test the above with a USB OTG Y cable and your bluetooth dongle / keyboar

[2021-03-01 21:38] tg-x commented on #14
you have to `echo host` to switch it to host mode.. but the bt dongle still needs power somehow..

[2021-03-01 21:48] briankaemingk commented on #14
Oh, I see. So let me see if I understand your setup correctly...

1. You have a Y OTG cable [like this](https://www.amazon.com/Adapter-Charging-Compatible-XL%EF%BC%8CGoogle-Chromecast/dp/B08C5FWQND/ref=sr_1_3?dchild=1&keywords=usb+c+otg+y+cable&qid=1614547164&sr=8-3) plugged into your tablet.
2. On the USB C end, you are plugged into power.
3. On the USB end, you have a wired USB keyboard plugged

[2021-03-01 21:56] tg-x commented on #14
yes, something like that

think i switched the port role before plugging the keyboard in, but it might not matter,
and my OTG adapter has USB-A for power input, but this should also work

[2021-03-01 21:58] briankaemingk commented on #14
Thanks, strange that I can get the BT dongle to work on the pogo pins but
not on the USB C port like that. I'll have to try it wired. If anyone else
can try with a bluetooth dongle I'd be curious to hear if it works.

On Mon, Mar 1, 2021 at 1:56 PM TG × ⊙ <notifications@github.com> wrote:

[2021-03-01 22:00] tg-x commented on #14
yes, because the pins are powered but the USB-C port is not

[2021-03-01 22:15] isman7 commented on #14
To test this, I need some splitting cable first. I will buy one.

Just some minutes ago this appeared in my Twitter feed:
https://twitter.com/arturo182/status/1366170856314052613?s=19

Cheers,

El lun., 1 mar. 2021 23:00, TG × ⊙ <notifications@github.com> escribió:

[2021-03-03 22:55] mpmilano commented on #14
I tried [the  product](https://www.amazon.com/Adapter-Charging-Compatible-XL%EF%BC%8CGoogle-Chromecast/dp/B08C5FWQND/ref=sr_1_3?dchild=1&keywords=usb+c+otg+y+cable&qid=1614547164&sr=8-3) linked by @briankaemingk earlier, but it doesn't appear to work for this.  I used @tg-x's simple UI to switch the port to host mode first.  Anybody know of a working adapter/dongle, or a way to use the USB-C port

[2021-03-04 01:04] briankaemingk commented on #14
Maybe @tg-x can share which Y cable he used? Because the one @mpmilano and I tried doesn't seem to work :)

[2021-03-04 01:39] tg-x commented on #14
this one worked: [us](https://www.amazon.com/gp/product/B07NSMK9BZ), [uk](https://www.amazon.co.uk/gp/product/B07NSMK9BZ), etc

[2021-03-04 09:37] tg-x commented on #14
an angle connector would be better though so that the device can stand
(something like [this](https://www.amazon.co.uk/dp/B082B2FTLQ))
and make/find a similar height clip-on support for the right side

[2021-03-04 09:39] tg-x commented on #14
and FYI the [yaft](https://github.com/timower/rM2-stuff/tree/master/apps/yaft) terminal emulator has now [external keyboard support](https://github.com/timower/rM2-stuff/issues/5) and works pretty well with text editors

[2021-03-04 13:00] tg-x commented on #14
btw the ui script above i just updated to fix some minor issues with having to click twice sometimes

[2021-03-04 16:07] mpmilano opened #16 "Launch keywriter on the remarkable 2?"
Hi all,

I'm trying to get keywriter to launch on the rm2, but the usual tricks (just assume the toltec-installed one will work vs. download the pre-built binary and LD_PRELOAD the rm2 framebuffer client hack) don't appear to work.  I know others have had more success; what's the trick for this one?

[2021-03-04 17:02] briankaemingk commented on #16
Hi,

Did you try it with the framebuffer? That is required for it to work..

https://github.com/ddvk/remarkable2-framebuffer

On Thu, Mar 4, 2021, 08:08 Matthew Milano <notifications@github.com> wrote:

[2021-03-04 19:03] mpmilano commented on #16
Yes, the framebuffer server is running and librm2fb_client.so is preloaded.  I just get a blank white screen.

[2021-03-04 19:06] briankaemingk commented on #16
Gotcha, ah now I see that in your original comment. A couple of things to
try..Do you have an empty scratch file in the directory? Can you launch any
other apps?

On Thu, Mar 4, 2021, 11:03 Matthew Milano <notifications@github.com> wrote:

[2021-03-04 20:02] mpmilano commented on #16
I do have an empty file in the editor's storage directory, and all the other apps (installed via toltec) seem to work fine.

[2021-03-08 13:37] isman7 commented on #14
Hi all, I bought some connectors to mount a "stack" because those cables were not available at Amazon ES...

- https://www.amazon.es/gp/product/B07XYTHCXV/ref=ppx_yo_dt_b_asin_title_o02_s00?ie=UTF8&psc=1
- https://www.amazon.es/gp/product/B00NH136GE/ref=ppx_yo_dt_b_asin_title_o02_s00?ie=UTF8&psc=1
- https://www.amazon.es/gp/product/B071RHMN99/ref=ppx_yo_dt_b_asin_title_o02_s00?ie=UTF8&psc=1

This

[2021-03-08 16:34] briankaemingk commented on #14
Great, thanks! I will order something similar as well for parts from the US
and report back.

On Mon, Mar 8, 2021 at 5:37 AM Ismael Benito <notifications@github.com>
wrote:

[2021-03-08 20:52] briankaemingk commented on #14
@isman7 your parts list work great for me too for a keyboard with a bluetooth dongle...

Command is: `echo host > /sys/bus/platform/devices/ci_hdrc.0/role`

Here are US-based parts: [extension](https://www.amazon.com/gp/product/B00NH136GE/ref=ppx_yo_dt_b_asin_title_o00_s00?ie=UTF8&psc=1), [Y-cable](https://www.amazon.com/gp/product/B00NIGO4NM/ref=ppx_yo_dt_b_asin_title_o01_s00?ie=UTF8&psc=1), and

[2021-03-10 23:15] isman7 commented on #14
Hey there, thinking a little bit in this I recovered a USB C hub I ordered three years ago for my mobile phone that was a failure... and it works here! This is the nicest result I have achieve with this so far. The stack is simple, power USB cable to USB hub first, check it lights up, then to the remarkable and check it charges. Then manually activate the port as host, the hub is detected, then pl

[2021-03-11 00:30] briankaemingk commented on #14
Hola Mundo. Very cool, thanks for sharing!

[image: image.png]

On Wed, Mar 10, 2021 at 3:15 PM Ismael Benito <notifications@github.com>
wrote:

[2021-03-12 06:12] dps commented on #16
I can replicate this on my rm2 - will take a look

[2021-03-12 06:14] dps commented on #8
Ctrl-K will get you the file picker / new file dialog

[2021-03-12 06:15] mpmilano commented on #16
So my actual issue was with keyboard recognition, so I was seeing the keywriter's default blank screen, not the failure of the app to load.  Though I was surprised that this is how it opens.  @dps you're free to close this issue when you'd like.

[2021-03-12 06:28] dps commented on #16
Got it - I appreciate the feedback though, will look at making it more intuitive!

[2021-03-13 18:55] Baccanno commented on #16
I tried to connect my Lenovo USB keyboard through a micro usb to usb c cable however it does not seem to be recognized (no green power diod). I'm on rm2 as well, apparently the app launches because I see some artefacts of the screen (rm2fb and keywriter installed through toltec)

Anything I could do to troubleshoot ?
Thanks

[2021-03-13 19:19] mpmilano commented on #16
https://github.com/dps/remarkable-keywriter/issues/14 has what you're looking for

[2021-03-13 19:48] #16 closed

[2021-03-13 20:28] Baccanno commented on #14
Thanks everyone for your remarkable work! Does all that mean you can't use a keyboard without external powering?

- If it's the case then using an [external battery](https://www.amazon.com/RAVPower-Portable-20000mAh-Tri-input-Tri-output/dp/B07TF73QZS/ref=sr_1_5?crid=261GQZV5THAYV&dchild=1&keywords=external+battery+charger&qid=1615667174&sprefix=external+batter%2Caps%2C231&sr=8-5) should work isn't

[2021-03-13 22:03] isman7 commented on #14
Hi, @Baccanno

- Regarding the external battery it should work yes, the fact is that rm2 is not providing any output in the USB as it should. You need any kind of adapter that uses an external voltage to power the devices, which directly yields power to the devices from the external power source (battery or charger). Depending on the adapter the rm2 will be charging also.
- Regarding if a connecto

[2021-03-13 22:10] mpmilano commented on #14
I can confirm that the specific Y usb-C cable @Baccanno linked does *not* work, in fact.

[2021-03-13 22:10] briankaemingk commented on #14
I tried that one, thinking it would work too, but the trouble with it is
that it doesn't provide power to the keyboard, so it doesn't work. A Y
cable like this one does work ...
https://www.amazon.com/dp/B00NIGO4NM/ref=cm_sw_r_cp_apa_fabc_48GSXJ50CNA1X8M2DVNF?_encoding=UTF8&psc=1

On Sat, Mar 13, 2021, 14:03 Ismael Benito ***@***.***> wrote:

[2021-03-13 22:22] isman7 commented on #14
Yup, sorry for the wild guess. The last one is working also for me along with a USB C OTG adapter and USB extension cable, if needed, might not be if used with a battery.

[2021-03-14 13:05] Baccanno commented on #14
Thank you for the answers.
- I already have this cable : [C male to Micro Male](https://www.amazon.fr/gp/product/B00UUBRX0Y/ref=ppx_yo_dt_b_asin_title_o00_s02?ie=UTF8&psc=1), It does not say OTG but it says you can connect a game controller or charge with it), I believe OTG is simply that the cable enables data no? And wanted to try out something like [this Y cable](https://www.amazon.fr/gp/produc

[2021-03-16 17:17] briankaemingk commented on #14
@Baccanno - Seems like it could work to me (although I'm no electrical engineer like others on this thread so hard for me to understand your diagram ;). Were you able to try it?

[2021-03-16 17:37] Baccanno commented on #14
I'll order things soon, I wanted some feedback before trying.
Oh, it's not an electrical diagram, simply the scheme for how I would plug everything, Cm is USB C Male, Bm Micro Usb male, Af Usb A female and so on

[2021-03-23 18:22] Baccanno commented on #14
Just to keep people informed, It's not working yet, i receive most parts BUT the Female to Female adapter. I did receive aA Female to Micro B male, but it does not seems to send data at all (tested directly on the pc).

So I'll have to wait to get my hands on the F-F adapter. But the battery charges the RM2 through the Y split effectively, that's still a win.

[2021-03-23 18:24] briankaemingk commented on #14
Thanks for the update!

On Tue, Mar 23, 2021 at 11:23 AM Arch ***@***.***> wrote:

[2021-04-04 10:02] Emnlv opened #17 "Remarkable 2"
Hello

Is it possible for rM2 use an external keyboard?
If yes, which code can I use?

Thank you

[2021-04-04 14:27] briankaemingk commented on #17
Please see [this issue](https://github.com/dps/remarkable-keywriter/issues/14).

[2021-04-04 17:07] Emnlv commented on #17
Thank you a lot.
I will wait for easier solutions.

Best

[2021-04-04 17:07] #17 closed

[2021-04-08 13:27] qubist commented on #8
How do you export the content of a file somewhere else to use? Or access it at all?

[2021-04-08 14:28] qubist commented on #14
Hey everybody. Cool to see all the progress here. I have skills with 3D design and access to a 3D printer if anyone still wants to work on making a Pogo Pin connector with built-in magnets. I don't have an rM2 (yet???) but would be happy to collaborate and build/ship some prototypes

[2021-04-08 15:59] alistair23 commented on #14
I would be interested in helping with something like that.

[2021-04-08 18:59] mpmilano commented on #8
the easiest way would be to SSH to your remarkable and directly access its filesystem.  There are plenty of clients (winscp, etc) that let you transfer files via SSH too!

[2021-04-09 03:49] qubist commented on #14
Hey alistair23,

Sounds great.

Here's something related I found: https://www.thingiverse.com/thing:4714318 According to discord there's also [this freecad model](https://github.com/ddvk/remarkable2-recovery/blob/main/assets/holder.FCStd) which I haven't checked out yet.

Do you want to move the conversation to a different medium? I think this thread wouldn't be the right place to dive in. Maybe d

[2021-04-09 04:16] cbzeller opened #18 "Segfault on rM2 with 2.6 software"
root@reMarkable:~# keywriter
EPD platform plugin loaded!
QStandardPaths: XDG_RUNTIME_DIR not set, defaulting to '/tmp/runtime-root'
qrc:/main.qml:114:5: QML Rectangle: Cannot anchor a vertical edge to a horizontal edge.
XMLHttpRequest: Using GET on a local file is dangerous and will be disabled by default in a future Qt version.Set QML_XHR_ALLOW_FILE_READ to 1 if you wish to continue using this fe

[2021-04-09 12:47] alistair23 commented on #14
Yeah, are you on the reMarkable matrix channel? Let's move it to there

[2021-04-09 13:41] qubist commented on #14
I just joined, but I'm new to matrix so I don't know what to do. I'm @willhb:matrix.org

[2021-04-09 14:50] qubist commented on #14
A channel (called `#rm2-pogo-connector`) got created on the reMarkable Discord for the topic of creating a general-purpose rM2 Pogo connector! https://discord.gg/GCTEZU8AXb

[2021-04-09 16:36] briankaemingk commented on #18
see this fix in process to address this issue https://github.com/toltec-dev/toltec/issues/322

in the meantime, you can downgrade to 2.5 with this process https://github.com/ddvk/remarkable-update

[2021-05-04 22:36] ianthehenry commented on #14
Just chiming in here to say thanks, this thread got me up and running, and to add the following for anyone who stumbles across this issue:

I was able to use this splitter: https://www.amazon.com/gp/product/B00NSBVNCM/ref=ppx_yo_dt_b_asin_title_o03_s01?ie=UTF8&psc=1

With the USB A male end connected to this power bank (it was the smallest one I could find, but it annoyingly requires you to press

[2021-05-05 13:58] rjainms commented on #14
It would be great if someone on this thread could summarize all the steps
beginning to end to make this work!

On Tue, May 4, 2021 at 3:36 PM Ian Henry ***@***.***> wrote:

[2021-05-06 07:38] klettervirus commented on #1
Has anyone found a solution to this issue? I would love to use a german (qwertz) keyboard layout. No idea if this is possible?

[2021-05-26 21:26] benjaminsoellner commented on #1
I have also tried various means. (EDIT: I should add, that the `fingerterm` terminal app is equally stubborn concerning the default US keyboard. There I tried... ) `localectl`, (`busybox `)`loadkmap` and (`busybox `)`loadkeys` - all don't work, neither does modifying `/etc/vconsole.conf` directly. I am speculating one could attempt to modify the default OS keyboard locale in the `/etc/u-boot*` som

[2021-05-30 00:11] benjaminsoellner commented on #1
Hi all! I found a solution how to enable a custom USB keyboard layouts for keywriter / remarkable - with the help of the [awesome remarkable community](https://www.reddit.com/r/RemarkableTablet/comments/7gu8yj/community_discord_chat/) - mainly the developers @eeems and Alex0809. Disclaimer: it's a bit involved and you should know how to do things like building Qt apps from source etc.

Turns out t

[2021-06-07 22:10] chiarafe opened #19 "Can't figure it out"
I've been trying to copy the file but I keep getting :
reMarkable: ~/ scp edit 192.168.1.90:/Users/chiarafeliciani/Desktop/keywriter
root@192.168.1.90's password:
edit: not a regular file
reMarkable: ~/

I have zero experiences with coding so I am looking fr someone who can help me through

[2021-07-15 14:43] matteodelabre commented on #18
FYI: Toltec testing now provides a version of remarkable-keywriter that is compatible with releases ⩾2.6.

[2021-08-06 17:47] bennotkin commented on #14
@Baccanno have you found success yet? Did the F-F adapter arrive and did it work, or did you need to make other changes? I'd love to imitate your success!

[2021-10-21 12:41] josuevalrob commented on #14
Super quick question. I have an  [usb C keyboard](https://www.amazon.de/gp/product/B0843TQM79/ref=ppx_yo_dt_b_asin_title_o00_s00?ie=UTF8&psc=1)
and I am trying to make it work with this adapter:
[usb-c splittler](https://www.amazon.de/-/en/gp/product/B098PYB42L/ref=ewc_pr_img_1?smid=A24XOX5II0GMJI&psc=1 )
is this a good idea??

[2021-10-21 14:03] briankaemingk commented on #14
Hi @josuevalrob please see the comment from @ianthehenry for how to get the USB C to work. You can do it without soldering, but you need to power it, so you need to buy a few more things... His and other comments on this thread should help you, otherwise, there is a reMarkable discord users channel that might be able to give you support as well.

[2021-10-25 13:59] josuevalrob commented on #14
@briankaemingk  yeah, I saw it and looks like his splitter is for Remarkable one.

[2021-11-22 12:34] phaer commented on #19
@chiarafe It's likely that "edit" is an alias in your shell. Try
```scp ./edit 192.168.1.90:/Users/chiarafeliciani/Desktop/keywriter```
instead. `./` advises your shell that "edit" is a local file

[2021-12-01 00:10] iHnR commented on #14
Hey all,

I just found this thread and have been coming up with some ideas. As they are missing still. I made some notes with what I think the actual wiring should be.

I'm thinking of getting some parts to create a compact solution to this. Depending on some details, it could be fairly elegant. There might be some gaps in my understanding, so please tell me if you see something that's wrong.

**H

[2021-12-31 10:05] simonante opened #21 "How to increase/decrease font size in the edit mode?"
How to increase/decrease font size in the edit mode?

[2021-12-31 14:19] simonante commented on #3
Would also like to know!

[2022-01-29 17:42] Sjatplat commented on #1
Ive tried everything now to build the  kmap2qmap command on a linux mint. But im lost. Do you have a link that describes the process? Im not a power user on linux.

[2022-01-31 17:29] Eeems commented on #9
I think you're looking for [fingerterm](https://github.com/dixonary/fingerterm-reMarkable) or [yaft](https://github.com/timower/rM2-stuff/tree/master/apps/yaft)

[2022-01-31 19:10] Eeems commented on #21
@dps https://github.com/toltec-dev/toltec/issues/544#issuecomment-1025221809

[2022-02-17 09:35] 34r7h opened #24 "Possible to use on-screen kb?"
Nice effort, much gratitude and appreciation. I'm looking for a solution that allows text input in a .rm page. Any suggestions or recommendations are helpful.

force be with!

[2022-03-08 09:31] emilBeBri commented on #14
Following this thread with exitement - I don't have the technical proves to move it forward, but I really appreciate your groundbreaking work here

[2022-03-08 14:09] qubist commented on #14
@iHnR check out my research at [github.com/qubist/typeO](github.com/qubist/typeO) and in the [`rm2-pogo-connector` channel on the reMarkable discord](https://discord.com/channels/385916768696139794/830092059578466322).

[2022-03-08 14:28] qubist commented on #14
See prototype video of something close to what you're talking about, but using the pogo pins on the side of the device: https://www.youtube.com/watch?v=7q5tBEi4npA

It works with via USB-C with a keyboard, rM2 provides power to the keybord, one command was run on the rM2 to enable OTG, can charge at the same time

[2022-03-20 21:02] qubist commented on #19
https://stackoverflow.com/questions/29547087/scp-gives-not-a-regular-file

Use `scp -r edit 192.168.1.90:/Users/chiarafeliciani/Desktop/keywriter`. `-r` is required because you are copying a folder, not a single file.

[2022-03-20 21:40] qubist commented on #8
@mpmilano thanks!

[2022-03-20 21:55] qubist opened #25 "Ctrl-N and Ctrl-P should work as arrow down and arrow up"

[2022-03-20 22:09] qubist commented on #25
I see how in `main.qml`, some keystrokes combined with control perform actions like quit or Omni. How can I modify the code to make Ctrl-N just send a different keystroke (down-arrow) of performing an action?

[2022-06-09 12:58] cmdim commented on #14
It seems that switching the USB-C port in host mode using this command:

echo host > /sys/kernel/debug/ci_hdrc.0/role

no longer works. Specifically, the tablet freezes and needs restarting (or restarts on its own). I suppose one of the recent updates has changed the way the port is switched to host  mode, but I don't see any updates in the wiki (i.e., at https://remarkablewiki.com/tech/rm2_otg_po

[2022-06-25 21:21] qubist commented on #14
`echo 2 > /sys/otgcontrol/control/otg1_controllermode`

[2022-07-07 12:32] plan5 opened #26 "Not reading keyboard on rM2 (works on fingerterm/xochitl)"
My keyboard provides the power needed to be connected to the USB-C port when its Bluetooth power switch is on (it's a USB/BT hybrid). Unfortuately it won't work with keywriter.

The keyboard works fine with fingerterm and inside xochitl. Both launched from oxide and via ssh.

The keyboard appears on /dev/input/event3. There are more event* files created after that (4-7), but only this one outputs

[2022-07-08 15:04] plan5 commented on #26
Oh, ok I found your warning in the Readme:

"Note that Apple USB keyboards with built in USB hubs don't work - it needs to be a simple USB device, not a hub."

My split keyboard is actually two separate half keyboards so I assume the main part is something like a hub.

I'll leave this open for now but I understand if you want to close it.

I'll try to figure this out but if you can, your help on h

[2022-07-16 15:35] plan5 commented on #26
Nevermind. It actually works!

I should have read the README more closely.

[2022-07-16 15:35] #26 closed

[2022-07-16 18:04] plan5 commented on #24
Have a look at Crazy Cow
https://github.com/machinelevel/sp425-crazy-cow

Not working for me on rM2 right now but this is probably what you're looking for.

[2022-07-26 11:23] Pantagrueliste opened #27 "Landscape mode"
The video linked on the readme.md file shows Keywriter on landscape mode. On my remarkable 2 Keywriter is in portrait by default How do I change the screen orientation?

[2022-08-22 23:53] CrayCJ commented on #14
I'd like to report the following process to be working form me on the rm2 repeatedly:

- I'm on a rm2, software version 2.14.1.866, with [ddvk's hacks](https://github.com/ddvk/remarkable-hacks); works with and without.
- I use the following adapter: [Digitus DA70893](https://cdn-reichelt.de/bilder/web/xxl_ws/E910/DIGITUS_DA70893_ANW_04.png).
- ([This ](https://es.aliexpress.com/item/10050034786479

[2022-08-23 00:04] CrayCJ commented on #16
I'd like to leave this here: https://github.com/dps/remarkable-keywriter/issues/14#issuecomment-1223341129
(Same thread @mpmilano mentions above.)

This discribes in detail how I am able to get a USB A keyboard to work via an usb c to a OTG adapter... Hope this helps!

[2022-08-24 09:04] emilBeBri commented on #14
This is great CrayCJ, thanks a lot for reporting this.

[2022-10-28 15:36] Frznk11 commented on #27
Same here. Would also like to know!